<div class="tool-group">
    <div class="bg-music tool-btn item">
      <div class="music">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=1424766669&auto=1&height=32"></iframe>
      </div>
      <button class="btn music">
          <svg class="allow-right" width="25" height="25" fill="currentColor">
              <use xlink:href="/assets/svg/bootstrap-icons.svg#music-note"/>
          </svg>
      </button>
    </div>
    <button class="btn goup item">
      <svg class="allow-right" width="25" height="25" fill="currentColor">
        <use xlink:href="/assets/svg/bootstrap-icons.svg#chevron-bar-up"/>
      </svg>
    </button>
  </div>