#main {
  background-color: var(--gray-bg);
  margin-top: 56px;
  padding: 50px 0;
}

#main .article .content {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.06);
}

#main .article .page-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#main .article .page-btn svg {
  margin-bottom: -3px;
}

#main .article .page-btn span {
  max-width: 150px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.aside {
  color: var(--text-color);
}

.aside-item {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 13px;
}

.aside-item::before {
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  width: 80px;
  background-color: #f5ab35;
  left: 30px;
}

.aside-item h4 {
  font-size: 22px;
}

.aside-item.article-msg ul li {
  display: flex;
  margin-bottom: 5px;
}

.aside-item.article-msg ul li span {
  display: inline-block;
}

.aside-item.article-msg ul li span.text {
  width: 70px;
  position: relative;
}

.aside-item.article-msg ul li span.text::after {
  content: ":";
  display: inline-block;
  margin: 0 5px;
  position: absolute;
  right: 0;
}

.aside-item.article-msg ul li span.value {
  flex: 1;
}

.aside-item.catalog {
  position: sticky;
  top: 71px;
}

.aside-item ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
