<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">博客</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
          <a class="nav-link" href="#">视频</a>
        </li>
      </ul>
      <div class="navbar-text">
        <div id="open-login" class="item">
          <button class="text-button mx-md-3" style="color: #525288;">登录</button>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <div class="search-box">
          <input class="search-input" type="search" aria-label="Search" name="k" autocomplete="off" required>
          <button type="submit" class="search-btn">
            <svg class="allow-right" width="20" height="20" fill="currentColor">
              <use xlink:href="/assets/svg/bootstrap-icons.svg#search"/>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </nav>